.homepage-banner-device-desktop,
.homepage-banner-device-desktop * {
  box-sizing: border-box;
}
.homepage-banner-device-desktop {
  height: 30.875rem;
  position: relative;
}
.homepage-banner-device-desktop .image-119 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0rem 0.0625rem 0rem 0rem rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.homepage-banner-device-desktop .frame-1757 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20.69%;
  height: 25.1%;
  position: absolute;
  right: 60.83%;
  left: 18.47%;
  bottom: 24.9%;
  top: 50%;
}
.homepage-banner-device-desktop
  .available-3-18-from-799-or-133-16-mo-for-6-mo-before-trade-in {
  color: var(--color-black, #000000);
  text-align: left;
  font-family: "SfProText-Regular", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  position: relative;
  width: 18.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.homepage-banner-device-desktop .image-121 {
  flex-shrink: 0;
  width: 6.25rem;
  height: 2.3125rem;
  position: relative;
  object-fit: cover;
}
