.app-block-image-property-1-varient-1-device-desktop,
.app-block-image-property-1-varient-1-device-desktop * {
  box-sizing: border-box;
}
.app-block-image-property-1-varient-1-device-desktop {
  width: 16rem;
  height: 10.75rem;
  position: relative;
}
.app-block-image-property-1-varient-1-device-desktop .image-116 {
  width: 99.61%;
  height: 99.61%;
  position: absolute;
  right: 0.39%;
  left: 0%;
  bottom: 0.39%;
  top: 0%;
  object-fit: cover;
}
