.global-nav-device-desktop,
.global-nav-device-desktop * {
  box-sizing: border-box;
}
.global-nav-device-desktop {
  background: #ffffff;
  padding: 1.75rem 0rem 1.75rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: inset 0rem -0.03125rem 0rem 0rem rgba(210, 210, 215, 1);
  transition: transform 0.3s ease-in-out;
}
.global-nav-device-desktop.nav-hidden {
  transform: translateY(-100%);
}

.global-nav-device-desktop .frame-751 {
  padding: 0 max(1rem, calc((100% - 76.25rem) / 2));
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 2.25rem;
  position: relative;
}
.global-nav-device-desktop .frame-541 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 11.25rem;
  height: 2.25rem;
  position: relative;
}
.global-nav-device-desktop .logo-partner-instance {
  flex-shrink: 0 !important;
}
.global-nav-device-desktop .logo-wip-app-instance {
  flex-shrink: 0 !important;
}
.global-nav-device-desktop .search-input-instance {
  flex: 1 1 0 !important;
  min-width: 12rem !important;
  max-width: 35rem !important;
}
.global-nav-device-desktop .store-locator-dropdown-instance {
  width: 10rem !important;
  align-self: unset !important;
}
.global-nav-device-desktop .nav-language-selector {
  color: var(--color-black, #1d1d1f);
  font-family: "SfProText-Regular", sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.global-nav-device-desktop .frame-750 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.global-nav-device-desktop .account-profile-instance {
  width: 2.25rem !important;
  height: 2.25rem !important;
}
.global-nav-device-desktop .bag-cart-instance {
  width: 2.25rem !important;
  height: 2.25rem !important;
}
.global-nav-device-desktop .nav-items-row-black {
  padding: 0 max(1rem, calc((100% - 76.25rem) / 2));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.global-nav-device-desktop .text-global-nav-category-instance {
  flex-shrink: 0 !important;
}
.global-nav-device-desktop .nav-divider {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.global-nav-device-desktop .div {
  color: var(--color-tokens-border-dark, #7d7d7d);
  text-align: left;
  font-family: "SfProText-Light", sans-serif;
  font-size: 0.875rem;
  line-height: 100%;
  font-weight: 300;
  position: relative;
}
