.attach-module-image-property-1-smart-folio-for-i-pad-air-5th-generation,
.attach-module-image-property-1-smart-folio-for-i-pad-air-5th-generation * {
  box-sizing: border-box;
}
.attach-module-image-property-1-smart-folio-for-i-pad-air-5th-generation {
  width: 14.5625rem;
  height: 14.5625rem;
  position: relative;
}
.attach-module-image-property-1-smart-folio-for-i-pad-air-5th-generation
  ._2-bd-8-b-5983-2-c-5-c-455-b-a-86-a-e-4-d-6-d-8906-f-54-2200-x-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
