.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  min-height: 100vh;
  position: relative;
  overflow-x: clip; /* clip without creating a scroll container */
}
.desktop-1 .homepage-instance {
  width: 100% !important;
  position: relative !important;
  left: unset !important;
  top: unset !important;
  flex-shrink: unset !important;
}
