.attach-module-set-property-1-back-to-school-1-device-desktop,
.attach-module-set-property-1-back-to-school-1-device-desktop * {
  box-sizing: border-box;
}
.attach-module-set-property-1-back-to-school-1-device-desktop {
  height: 32.625rem;
  position: relative;
}
.attach-module-set-property-1-back-to-school-1-device-desktop .conversion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.attach-module-set-property-1-back-to-school-1-device-desktop .full-attach {
  display: flex;
  flex-direction: row;
  gap: 6.375rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-back-to-school-1-device-desktop
  .chevron-round-button-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-back-to-school-1-device-desktop .attach-row {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-back-to-school-1-device-desktop .attach-row2 {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

/* nested override styles */

.attach-module-set-property-1-back-to-school-1-device-desktop
  .app-block-image-air-pods-pro-2nd-generation-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-back-to-school-1-device-desktop
  .app-block-image-apple-pencil-2nd-generation-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-back-to-school-1-device-desktop
  .app-block-image-i-phone-14-pro-max-clear-case-with-mag-safe-instance {
  flex-shrink: 0 !important;
}
