.icon-shipping,
.icon-shipping * {
  box-sizing: border-box;
}
.icon-shipping {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
