.chevron-round-button-property-1-chevron-round-button-property-2-right,
.chevron-round-button-property-1-chevron-round-button-property-2-right * {
  box-sizing: border-box;
}
.chevron-round-button-property-1-chevron-round-button-property-2-right {
  width: 3rem;
  height: 3rem;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
.chevron-round-button-property-1-chevron-round-button-property-2-right
  .ellipse-8 {
  background: var(--text-and-icon-aos-blue, #0071e3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.chevron-round-button-property-1-chevron-round-button-property-2-right
  .frame-1489 {
  width: 0.75rem;
  height: 1.290625rem;
  position: absolute;
  left: 1.875rem;
  top: 0.875rem;
  transform: translate(-0.75rem, 0rem);
  overflow: visible;
}
