.attach-module-image-property-1-apple-care-macbook,
.attach-module-image-property-1-apple-care-macbook * {
  box-sizing: border-box;
}
.attach-module-image-property-1-apple-care-macbook {
  background: #ffffff;
  width: 13.0625rem;
  height: 13.0625rem;
  position: relative;
}
.attach-module-image-property-1-apple-care-macbook .group-1411 {
  position: absolute;
  inset: 0;
}
.attach-module-image-property-1-apple-care-macbook
  .mac-book-air-15-in-m-2-chip-starlight-pure-front-mac-book-air-13-in-m-2-chip-starlight-pure-back-screen-usen-1 {
  width: 11.475rem;
  height: 5.5625rem;
  position: absolute;
  left: calc(50% - 5.96875rem);
  top: calc(50% - 2.96875rem);
  object-fit: cover;
}
.attach-module-image-property-1-apple-care-macbook .logo-apple-care-instance {
  width: 17.22% !important;
  height: 17.22% !important;
  position: absolute !important;
  right: 4.31% !important;
  left: 78.47% !important;
  bottom: 30.14% !important;
  top: 52.63% !important;
}
