.store-locator {
  display: flex;
  align-items: center;
}

.store-locator__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 0.875rem;
  color: var(--color-black, #1d1d1f);
  display: flex;
  align-items: center;
  gap: 8px;
}

.store-locator__text {
  font-family: var(--body-body-s-regular-font-family, sans-serif);
  font-weight: 500;
  font-size: 0.875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 21px;
  max-width: 240px;
  display: block;
  overflow: hidden
}

.store-locator__text:hover {
  text-decoration: underline;
}

