.organism-value-prop-section-device-desktop,
.organism-value-prop-section-device-desktop * {
  box-sizing: border-box;
}
.organism-value-prop-section-device-desktop {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.organism-value-prop-section-device-desktop .value-props-row {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 75rem;
}
.organism-value-prop-section-device-desktop .line-24 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: var(--color-gray-4, #f2f2f2);
  border-width: 0.0625rem 0 0 0;
  flex-shrink: 0;
  width: 100%;
  height: 0rem;
  position: relative;
}
