.app-block-image-i-pad-pro,
.app-block-image-i-pad-pro * {
  box-sizing: border-box;
}
.app-block-image-i-pad-pro {
  width: 13.0625rem;
  height: 13.0625rem;
  position: relative;
}
.app-block-image-i-pad-pro .image-71 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
