.app-zigzag-property-1-store-near-you-device-desktop,
.app-zigzag-property-1-store-near-you-device-desktop * {
  box-sizing: border-box;
}
.app-zigzag-property-1-store-near-you-device-desktop {
  border-radius: 1rem;
  height: 22.9375rem;
  position: relative;
}
.app-zigzag-property-1-store-near-you-device-desktop .text-box {
  background: var(--color-gray-5, #f2f2f2);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  width: 38rem;
  height: 22.75rem;
  position: absolute;
  left: 0rem;
  top: 0.09375rem;
}
.app-zigzag-property-1-store-near-you-device-desktop .copy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 21.25rem;
  position: relative;
}
.app-zigzag-property-1-store-near-you-device-desktop .frame-1775 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.app-zigzag-property-1-store-near-you-device-desktop .stores-near-you {
  color: var(--text-color-default-text, #121212);
  text-align: center;
  font-family: var(
    --display-display-s-font-family,
    "SfProDisplay-Semibold",
    sans-serif
  );
  font-size: var(--display-display-s-font-size, 2rem);
  line-height: var(--display-display-s-line-height, 2.375rem);
  font-weight: var(--display-display-s-font-weight, 600);
  position: relative;
  width: 21.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-zigzag-property-1-store-near-you-device-desktop
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-donec-facilisis-lorem-ipsum-dolor-sit-amet {
  color: var(--text-color-default-text, #121212);
  text-align: center;
  font-family: var(
    --body-body-s-regular-font-family,
    "SfProText-Regular",
    sans-serif
  );
  font-size: var(--body-body-s-regular-font-size, 0.875rem);
  line-height: var(--body-body-s-regular-line-height, 1rem);
  font-weight: var(--body-body-s-regular-font-weight, 400);
  position: relative;
  width: 21.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-zigzag-property-1-store-near-you-device-desktop .cta-instance {
  flex-shrink: 0 !important;
}
.app-zigzag-property-1-store-near-you-device-desktop .image-area {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  width: 38.125rem;
  height: 22.9375rem;
  position: absolute;
  left: 38rem;
  top: 0rem;
  overflow: hidden;
}
.app-zigzag-property-1-store-near-you-device-desktop
  .tienda-apple-nevada-granada-2 {
  /* border-style: solid; */
  /* border-color: #000000; */
  border-width: 0.0625rem;
  flex-shrink: 0;
  width: 38rem;
  height: 22.75rem;
  position: relative;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
  object-fit: cover;
}

/* nested override styles */
