.app-block-image-i-pad-air,
.app-block-image-i-pad-air * {
  box-sizing: border-box;
}
.app-block-image-i-pad-air {
  width: 13.0625rem;
  height: 13.0625rem;
  position: relative;
}
.app-block-image-i-pad-air .image-70 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
