.attach-module-set-property-1-trade-in-1-device-desktop,
.attach-module-set-property-1-trade-in-1-device-desktop * {
  box-sizing: border-box;
}
.attach-module-set-property-1-trade-in-1-device-desktop {
  height: 32.625rem;
  position: relative;
}
.attach-module-set-property-1-trade-in-1-device-desktop .frame-1261 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.attach-module-set-property-1-trade-in-1-device-desktop .frame-1561 {
  display: flex;
  flex-direction: row;
  gap: 6.375rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 29.875rem;
  position: relative;
}
.attach-module-set-property-1-trade-in-1-device-desktop
  .chevron-round-button-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-trade-in-1-device-desktop .attach-row {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-trade-in-1-device-desktop
  .attach-module-tile-instance {
  height: 29.875rem !important;
}
.attach-module-set-property-1-trade-in-1-device-desktop
  .chevron-round-button-instance2 {
  flex-shrink: 0 !important;
  transform: unset !important;
}

/* nested override styles */

.attach-module-set-property-1-trade-in-1-device-desktop
  .app-block-image-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-trade-in-1-device-desktop
  .app-block-image-i-mac-instance {
  flex-shrink: 0 !important;
}
