.store-location-find-main {
    padding: 60px 0 84px;
}

.page-width {
    max-width: 1260px;
    width: 100%;
    margin: 50px auto;
    padding: 0 16px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .page-width {
        margin: 20px auto;
    }
}

.locator_grid {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 40px;
    grid-auto-rows: minmax(50px, auto);
    line-height: 20px;
    vertical-align: top !important;
    box-sizing: border-box;
}

@media (max-width:768px) {
    .locator_grid {
        gap: 0;
    }
}

@media screen and (min-width: 990px) {
    .locator_grid {
        grid-template-columns: 386px 1fr; 
    }
}

.one-search_details {
    grid-column: 1 !important;
    box-sizing: border-box;
    width: 100%;
}

.gradient {
    background: rgb(var(--color-background));
    background: var(--gradient-background);
    background-attachment: fixed;
}

.store-location-find-main .my-store-locator-drawer__inner {
    max-height: none;
    overflow-y: visible;
    overflow-x: visible;
    padding: 0;
}

.my-store-locator-drawer__close-wrapper {
    padding: 8px 16px;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
}

.locator_head {
    font-family: var(--font-body-family);
    font-style: normal;
    font-weight: 600;
    padding-bottom: 2rem;
    font-size: 48px;
    line-height: 32px;
    color: #000;
}

input.nosubmit {
    border: none;
    padding: 8px 16px 9px 42px;
    border-radius: 32px;
    height: 36px;
    width: 100%;
    max-width: 440px;
    box-sizing: border-box;
}

.store-location-find-main .my-store-locator-drawer__search-results {
    padding-right: 12px;
    padding-bottom: 16px;
    overflow-y: auto;
    max-height: 952px;
}

.my-store-locator-drawer__search-results {
    margin-top: 12px;
    padding: 0 0 76px;
    display: flex !important;
    flex-direction: column;
    gap: 16px;
}

.store-location-find-main .my-location-result[data-active=true] {
    border-color: #d9d9d9 !important;
    padding-top: 48px;
}

.my-location-result[data-active=true] {
    border-color: #0071e3 !important;
}

.store-location-find-main .my-location-result {
    cursor: pointer;
    padding-bottom: 32px;
}

.my-location-result {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 16px;
    text-align: left;
    color: #000;
    position: relative;
    cursor: pointer;
    letter-spacing: normal;
}

.my-location-result__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px 24px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    width: 100%;
}

.my-location-result__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-location-result__services-btn {
    background: none;
    border: none;
    color: #0071e3;
    cursor: pointer;
    font-style: normal;
    font-family: var(--font-body-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
    outline: inherit;
    padding: 0 4px 0 0;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
}

.my-location-result__services-pgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 0;
    visibility: hidden;
    height: 0;
}

.store-location-find-main .my-location-result__make-my-store-btn {
    display: block;
}

.my-location-result__make-my-store-btn {
    display: none;
    margin-top: 16px;
    background-color: #fff !important;
    color: #0071e3 !important;
    border-color: #0071e3 !important;
}

.my-location-result__address {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

.store-location-find-main .my-location-result[data-active=true] .my-location-result__my-store {
    display: block;
}

.my-location-result__my-store {
    display: none;
    padding: 8px;
    border-radius: 8px 0;
    background: #0071e3;
    color: #fff;
    font-family: var(--font-body-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    position: absolute;
    top: -1px;
    left: -1px;
}

.store-location-find-main .my-location-result__name {
    color: #1d1d1f;
    font-family: var(--font-body-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .36px;
}

.make-this-store__button {
    border: 2px solid #0071e3;
    padding: 0.8rem 1rem;
    border-radius: 42px;
    font-family: 'SFProThai';
    font-weight: 600;
    font-size: 14px;
}

.two-location_map {
    position: relative;
    min-height: 500px;
    z-index: 1;
    grid-column: 1;
    width: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
    box-sizing: border-box;
}

@media screen and (min-width: 990px) {
    .two-location_map {
        grid-column: 2;
        grid-row: 1 / span 2;
        height: 100%;
    }
}

.my-location-result__callout--apple {
    box-shadow: 10px 10px 50px #0000004a;
    transform-origin: 0 10px;
    transform: translateY(-20px);
}

.my-location-result__callout {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    width: 360px;
    font-size: 14px;
    border-radius: 0.75rem;
}

.my-location-result__callout .my-location-result__details {
    width: 100%;
}

.my-location-result__callout .my-location-result__name {
    color: #1d1d1f;
    font-family: var(--font-body-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .36px;
}

.my-location-result__address a {
    color: #0071e3;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .locator_head {
        font-size: 28px;
        line-height: 33px;
        padding-bottom: 16px;
    }
}

.my-location-result__callout--apple:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 13px solid rgba(0, 0, 0, 0);
    left: 0;
    right: 0;
    margin: 0 auto -13px;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 100%;
}