.app-block-image-property-1-variant-13-device-desktop,
.app-block-image-property-1-variant-13-device-desktop * {
  box-sizing: border-box;
}
.app-block-image-property-1-variant-13-device-desktop {
  width: 16rem;
  height: 10.75rem;
  position: relative;
}
.app-block-image-property-1-variant-13-device-desktop .image-111 {
  width: 80.54%;
  height: 90.7%;
  position: absolute;
  right: 9.73%;
  left: 9.73%;
  bottom: 4.65%;
  top: 4.65%;
  object-fit: cover;
}
