.store-locator-dropdown-status-geo,
.store-locator-dropdown-status-geo * {
  box-sizing: border-box;
}
.store-locator-dropdown-status-geo {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.store-locator-dropdown-status-geo .icon-store-instance {
  flex-shrink: 0 !important;
}
.store-locator-dropdown-status-geo .frame-1178 {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.store-locator-dropdown-status-geo .text-global-nav-store-locator {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.store-locator-dropdown-status-geo .qorem-ipsum-dolor-sit-ametor {
  color: var(--color-gray-2, #595959);
  text-align: left;
  font-family: var(
    --body-body-s-medium-font-family,
    "SfProText-Medium",
    sans-serif
  );
  font-size: var(--body-body-s-medium-font-size, 0.875rem);
  line-height: var(--body-body-s-medium-line-height, 1rem);
  font-weight: var(--body-body-s-medium-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.store-locator-dropdown-status-geo .icon-chevron-instance {
  flex-shrink: 0 !important;
  width: 2.25rem !important;
  height: 2.25rem !important;
}
