.organism-app-zigzag-section-device-desktop,
.organism-app-zigzag-section-device-desktop * {
  box-sizing: border-box;
}
.organism-app-zigzag-section-device-desktop {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.organism-app-zigzag-section-device-desktop .frame-1814 {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.organism-app-zigzag-section-device-desktop .app-zigzag-instance {
  flex-shrink: 0 !important;
  width: 76rem;
}

@media screen and (max-width: 768px) {
  .organism-app-zigzag-section-device-desktop .app-zigzag-instance {
  width: 100%;
  padding: 0 12px;
}
}

.organism-app-zigzag-section-device-desktop .app-zigzag-instance2 {
  flex-shrink: 0 !important;
  width: 76.125rem !important;
}
.organism-app-zigzag-section-device-desktop .line-23 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: var(--color-gray-4, #f2f2f2);
  border-width: 0.0625rem 0 0 0;
  flex-shrink: 0;
  width: 100%;
  height: 0rem;
  position: relative;
}
