.map-pin-scenario-default,
.map-pin-scenario-default * {
  box-sizing: border-box;
}
.map-pin-scenario-default {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  position: relative;
}
.map-pin-scenario-default .frame-1529 {
  width: 0.691875rem;
  height: 0.930625rem;
  position: absolute;
  left: 0.1875rem;
  top: 0.006875rem;
  overflow: visible;
}
