.logo-apple-care,
.logo-apple-care * {
  box-sizing: border-box;
}
.logo-apple-care {
  width: 2rem;
  height: 2rem;
  position: relative;
}
.logo-apple-care .logos-apple-care {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
