.attach-module-image-property-1-apple-care-i-phone,
.attach-module-image-property-1-apple-care-i-phone * {
  box-sizing: border-box;
}
.attach-module-image-property-1-apple-care-i-phone {
  width: 13.0625rem;
  height: 13.0625rem;
  position: relative;
}
.attach-module-image-property-1-apple-care-i-phone .image-60 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
