.account-profile-property-1-default,
.account-profile-property-1-default * {
  box-sizing: border-box;
}
.account-profile-property-1-default {
  flex-shrink: 0;
  width: 2.25rem;
  height: 2.25rem;
  position: relative;
  overflow: visible;
}
