.attach-module-section-device-desktop,
.attach-module-section-device-desktop * {
  box-sizing: border-box;
}
.attach-module-section-device-desktop {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.attach-module-section-device-desktop .frame-1255 {
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.attach-module-section-device-desktop .shop-back-to-school-products {
  color: var(--color-black, #000000);
  text-align: left;
  font-family: "SfProText-Semibold", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
}
.attach-module-section-device-desktop .attach-module-set-instance {
  flex-shrink: 0 !important;
  width: 81rem !important;
}
.attach-module-section-device-desktop .line-23 {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: var(--color-gray-4, #f2f2f2);
  border-width: 0.0625rem 0 0 0;
  flex-shrink: 0;
  width: 100%;
  height: 0rem;
  position: relative;
}
