.attach-module-set-property-1-all-things-i-pad-1-device-desktop,
.attach-module-set-property-1-all-things-i-pad-1-device-desktop * {
  box-sizing: border-box;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop .conversion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop .full-attach {
  display: flex;
  flex-direction: row;
  gap: 6.375rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop .attach-row {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop
  .chevron-round-button-instance2 {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop
  .carousel-control {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4.353125rem;
  position: relative;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop .ellipse-6 {
  background: var(--color-gray-3, #d9d9d9);
  border-radius: 50%;
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop .ellipse-7 {
  background: #c4c4c4;
  border-radius: 50%;
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop .ellipse-8 {
  background: #c4c4c4;
  border-radius: 50%;
  flex-shrink: 0;
  width: 0.75rem;
  height: 0.75rem;
  position: relative;
}

/* nested override styles */

.attach-module-set-property-1-all-things-i-pad-1-device-desktop
  .app-block-image-i-pad-air-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop
  .app-block-image-i-pad-pro-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-all-things-i-pad-1-device-desktop
  .app-block-image-magic-keyboard-folio-for-i-pad-10-9-inch-instance {
  flex-shrink: 0 !important;
}
