.app-block-image-property-1-variant-14-device-desktop,
.app-block-image-property-1-variant-14-device-desktop * {
  box-sizing: border-box;
}
.app-block-image-property-1-variant-14-device-desktop {
  width: 16rem;
  height: 10.75rem;
  position: relative;
}
.app-block-image-property-1-variant-14-device-desktop
  .screen-shot-2022-11-01-at-9-27-2 {
  width: 68.09%;
  height: 90.7%;
  position: absolute;
  right: 15.95%;
  left: 15.95%;
  bottom: 4.65%;
  top: 4.65%;
  object-fit: cover;
}
