.attach-module-set-property-1-back-to-school-3-device-desktop,
.attach-module-set-property-1-back-to-school-3-device-desktop * {
  box-sizing: border-box;
}
.attach-module-set-property-1-back-to-school-3-device-desktop {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.attach-module-set-property-1-back-to-school-3-device-desktop .conversion {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-back-to-school-3-device-desktop .full-attach {
  display: flex;
  flex-direction: row;
  gap: 6.375rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.attach-module-set-property-1-back-to-school-3-device-desktop
  .chevron-round-button-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-back-to-school-3-device-desktop .attach-row {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

/* nested override styles */

.attach-module-set-property-1-back-to-school-3-device-desktop
  .app-block-image-instance {
  flex-shrink: 0 !important;
}
.attach-module-set-property-1-back-to-school-3-device-desktop
  .app-block-image-apple-watch-ultra-orange-alpine-loop-instance {
  flex-shrink: 0 !important;
}
